Source: gw6c
Section: unknown
Priority: extra
Maintainer: James Michael DuPont <mdupont@introspector-mail>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.1
Homepage: <insert the upstream URL, if relevant>

Package: gw6c
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: gw6c-doc
Architecture: all
Description: documentation for gw6c
 <insert long description, indented with spaces>
